.HandPick {
  list-style: none;
}

.HandPick li {
  padding: 2px;
  display: inline-block;
}

.HandPick button {
  width: 240px;
}

.HandPick .rock {

}

.HandPick .paper {

}

.HandPick .scissors {

}

.HandPick .lizard {

}

.HandPick .spock {

}
