@import './utils/stylesheets/taiga-boilerplate/styles.scss';

@import './components/Confirm.scss';
@import './components/HandPick.scss';
@import './components/CountDown.scss';

main {
  width: 90%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.content {
  min-height: 70px;
  margin-bottom: 10px;
}
